/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: local("Cormorant Garamond Regular"), local("CormorantGaramond-Regular"), url("./../fonts/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("./../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-LightItalic"), url("./../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("./../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("./../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  font-size: 20px;
  font-weight: 400;
  color: #151618;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 64px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 0 10px;
  }
}
@media screen and (max-width: 360px) {
  .container {
    padding: 0 10px;
  }
}

.none {
  display: none;
}

.main {
  flex-grow: 1;
}

.no-scroll {
  overflow-y: hidden;
}

.title {
  font-size: 40px;
  color: #151618;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .title {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 360px) {
  .title {
    font-size: 24px;
  }
}
.title--know {
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .title--know {
    text-align: center;
  }
}
@media screen and (max-width: 1000px) {
  .title--collection {
    margin-bottom: 30px;
  }
}

.blockquote {
  padding: 150px 0;
  max-width: 700px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .blockquote {
    padding: 120px 0 135px;
  }
}
@media screen and (max-width: 480px) {
  .blockquote {
    padding: 60px 0;
  }
}
@media screen and (max-width: 360px) {
  .blockquote {
    padding: 70px 0 80px;
  }
}

.blockquote--text {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: clamp(1rem, 0.357rem + 2.86vw, 2.5rem);
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.header {
  padding: 30px 0;
}
@media screen and (max-width: 768px) {
  .header {
    min-height: 165px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    min-height: 80px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding: 10px 0;
  }
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 140px;
}
@media screen and (max-width: 768px) {
  .header__content {
    min-height: 105px;
  }
}
@media screen and (max-width: 480px) {
  .header__content {
    min-height: 60px;
  }
}

.header__content--mobile {
  z-index: 8;
  position: fixed;
  left: 12vw;
  top: 0px;
  width: 76vw;
  background-color: white;
  border: 1px solid #754E29;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 60px;
  padding-top: 50px;
}
.header__content--mobile .nav {
  margin-left: unset;
}
.header__content--mobile .logo {
  display: none;
}
.header__content--mobile .header__nav {
  display: block;
}
.header__content--mobile .header__list {
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}
.header__content--mobile .header__nav-btn {
  position: fixed;
  top: 40px;
  right: 15px;
}
.header__content--mobile .header__profile {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.header__content--mobile .profile__content {
  width: 100%;
  padding: 20px 0;
  background-color: #f7f2ea;
}
.header__content--mobile .profile__list {
  justify-content: center;
  gap: 70px;
}

.logo {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .logo {
    order: 2;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .logo --footer {
    order: 1;
  }
}

@media screen and (max-width: 480px) {
  .logo img {
    width: 39px;
    height: 56px;
  }
}

.logo--footer img {
  width: 57px;
  height: 91px;
}

@media screen and (max-width: 1000px) {
  .nav {
    display: flex;
    flex: 1;
    margin-left: 56px;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}

.header__nav-btn {
  display: none;
}
@media screen and (max-width: 768px) {
  .header__nav-btn {
    display: block;
    order: 1;
    min-width: 150px;
  }
}
@media screen and (max-width: 360px) {
  .header__nav-btn {
    display: block;
    order: 1;
    min-width: 100px;
  }
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.header__list-item {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .profile__content {
    order: 3;
  }
}

.profile__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.profile__item--search {
  margin-left: 80px;
}
@media screen and (max-width: 1000px) {
  .profile__item--search {
    margin-left: 50px;
  }
}
@media screen and (max-width: 360px) {
  .profile__item--search {
    margin-left: unset;
  }
}

/* Nav Icon */
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: black;
  height: var(--height);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .nav-icon-btn {
    --width: 50px;
    --line-height:1.5px;
  }
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}
@media screen and (max-width: 360px) {
  .nav-icon::before {
    top: calc(var(--line-height) * -6);
  }
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}
@media screen and (max-width: 360px) {
  .nav-icon::after {
    top: calc(var(--line-height) * 6);
  }
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: -15px;
  left: 35px;
  background: #754E29;
  width: 20px;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

.top {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.1%, #000 97.4%), url(./../img/banner_tea.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .top {
    background-position: left;
  }
}

.top__content {
  min-height: 500px;
  color: white;
  font-family: "Cormorant Garamond", serif;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (max-width: 360px) {
  .top__content {
    min-height: 360px;
  }
}

.top__title {
  font-size: 60px;
  max-width: 780px;
  margin-bottom: 20px;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .top__title {
    font-size: 40px;
  }
}
@media screen and (max-width: 360px) {
  .top__title {
    font-size: 24px;
  }
}

.top__text {
  font-size: clamp(0.875rem, 0.607rem + 1.19vw, 1.5rem);
  max-width: 560px;
  margin-bottom: 50px;
}

.collection {
  margin-bottom: 150px;
}
@media screen and (max-width: 1000px) {
  .collection {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1000px) {
  .collection {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 480px) {
  .collection {
    margin-bottom: 50px;
  }
}

.explore__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@media screen and (max-width: 1000px) {
  .explore__cards {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .explore__cards {
    flex-wrap: wrap;
    gap: 6px 0;
  }
}

@media screen and (max-width: 360px) {
  .explore__card img {
    max-width: 150px;
    height: auto;
  }
}

.explore__card-img {
  margin-bottom: 10px;
}

.explore__card-text {
  font-size: 24px;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
}

.clients {
  background: #f7f2ea;
  margin-bottom: 150px;
}
@media screen and (max-width: 1000px) {
  .clients {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 1000px) {
  .clients {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 480px) {
  .clients {
    margin-bottom: 50px;
  }
}

.client__content {
  min-height: 400px;
  padding: 60px 0;
}
@media screen and (max-width: 480px) {
  .client__content {
    padding: 50px 0;
  }
}

.clients__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 26px;
}
@media screen and (max-width: 1000px) {
  .clients__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .clients__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 76px;
  }
}
@media screen and (max-width: 360px) {
  .clients__cards {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .clients__cards {
    gap: 25px 50px;
  }
}

@media screen and (max-width: 1000px) {
  .client__card:last-child {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .client__card:last-child {
    display: block;
  }
}

@media screen and (max-width: 360px) {
  .client__card:nth-child(even) {
    display: none;
  }
}

.client__card--text {
  margin-bottom: 10px;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

.client__card--name {
  font-weight: 600;
}

.blog {
  margin-bottom: 150px;
}
@media screen and (max-width: 1000px) {
  .blog {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 480px) {
  .blog {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 360px) {
  .blog {
    margin-bottom: 50px;
  }
}

.blog__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 60px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1000px) {
  .blog__cards {
    gap: 60px 20px;
  }
}
@media screen and (max-width: 768px) {
  .blog__cards {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 30px;
  }
}

.blog__card {
  display: flex;
  gap: 20px;
  transition: 0.3s ease-in;
  transform: scale(1);
}
@media screen and (max-width: 768px) {
  .blog__card {
    max-width: 542px;
  }
}
@media screen and (max-width: 360px) {
  .blog__card {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    max-width: 270px;
  }
}

@media screen and (max-width: 768px) {
  .blog__card:nth-child(even) {
    margin-left: 98px;
  }
}
@media screen and (max-width: 480px) {
  .blog__card:nth-child(even) {
    margin-left: unset;
  }
}
@media screen and (max-width: 480px) {
  .blog__card:nth-child(even) {
    display: none;
  }
}

.blog__card:hover {
  background-color: #f7f2ea;
  transform: scale(1.03);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .blog__card img {
    max-width: 230px;
  }
}
@media screen and (max-width: 480px) {
  .blog__card img {
    max-width: 100%;
    max-height: 180px;
  }
}

@media screen and (max-width: 480px) {
  .footer-block-wrap {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
  }
}
@media screen and (max-width: 360px) {
  .footer-block-wrap {
    flex-direction: column;
    align-items: center;
  }
}

.blog__card--desc {
  display: flex;
  flex-direction: column;
}

.blog__card--title {
  margin-bottom: 10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 24px;
}

.blog__card--author {
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
}
@media screen and (max-width: 360px) {
  .blog__card--author {
    margin-bottom: 10px;
  }
}

.blog__card--link {
  font-size: 13px;
  font-weight: 300;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.view_all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__link:hover {
  background-color: #b8b58b;
}

.blog__link {
  max-width: 150px;
  border: 1px solid #151618;
  padding: 12px 40px;
  transition: 0.3s ease-in;
}

.blog__link--text {
  font-weight: 300;
}

.know-more {
  background-color: #f7f2ea;
  background-image: url(./../img/tea_bg.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: right center;
  margin-bottom: 150px;
}
@media screen and (max-width: 1000px) {
  .know-more {
    margin-bottom: 120px;
  }
}

.know-more__content {
  padding: 100px 0;
}
@media screen and (max-width: 1000px) {
  .know-more__content {
    padding: 60px 0;
  }
}
@media screen and (max-width: 480px) {
  .know-more__content {
    padding: 50px 0;
  }
}

.know-mote__blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media screen and (max-width: 1000px) {
  .know-mote__blocks {
    grid-template-columns: 1fr;
    gap: 60px;
    justify-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .know-more--block {
    max-width: 780px;
  }
}

@media screen and (max-width: 1000px) {
  .spam {
    max-width: 580px;
  }
}

.know-more--text {
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
  font-weight: 300;
  line-height: 30px;
}

.form__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.email_input {
  border-bottom: 1px solid #b8b58b;
  width: 100%;
  margin-top: 20px;
}

.email_input::-moz-placeholder {
  padding-left: 15px;
  color: #b8b58b;
}

.email_input::placeholder {
  padding-left: 15px;
  color: #b8b58b;
}

.submit_btn {
  margin-left: 25px;
  background-color: white;
  padding: 12px 40px;
  border: 1px solid black;
}

.form__check {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cbx {
  margin-top: 4px;
  width: 16px;
  height: 16px;
}

.check--text {
  font-size: 13px;
  font-weight: 300;
}

.prioritise {
  margin-bottom: 150px;
}
@media screen and (max-width: 1000px) {
  .prioritise {
    margin-bottom: 120px;
  }
}
@media screen and (max-width: 480px) {
  .prioritise {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 360px) {
  .prioritise {
    margin-bottom: 50px;
  }
}

.prior__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
}
@media screen and (max-width: 1000px) {
  .prior__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .prior__cards {
    grid-template-columns: 1fr;
  }
}

.prior__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.prior__title {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}
@media screen and (max-width: 360px) {
  .prior__title {
    font-size: 20px;
  }
}

.prior__text {
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 360px) {
  .prior__text {
    font-size: 14px;
  }
}

.footer {
  background-color: #f7f2ea;
}

.footer__wrapper {
  padding: 100px 0;
  display: grid;
  grid-template-columns: 25fr 25fr 50fr;
}
@media screen and (max-width: 1000px) {
  .footer__wrapper {
    grid-template-columns: 20fr 20fr 60fr;
  }
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    padding: 50px 0;
    grid-template-columns: 25fr 25fr 50fr;
    gap: 60px;
  }
}
@media screen and (max-width: 480px) {
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 40px;
  }
}

@media screen and (max-width: 480px) {
  .footer__list--first {
    grid-area: 1/1/2/2;
  }
}
@media screen and (max-width: 480px) {
  .footer__list--second {
    grid-area: 1/2/2/3;
  }
}

@media screen and (max-width: 480px) {
  .footer-blocks {
    grid-area: 2/1/3/3;
  }
}

.footer__list--title {
  margin-bottom: 50px;
  font-size: 24px;
  font-family: "Cormorant Garamond", serif;
}
.footer__list--title--three {
  text-align: center;
}

.footer__list-item {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.footer-blocks__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .footer-blocks__content {
    grid-template-columns: 1fr;
  }
}

.footer-block--text {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 20px;
}
.footer-block--text--reg {
  font-style: normal;
  font-size: 13px;
}

.footer--block--author {
  font-size: 12px;
  font-weight: 300;
}

.footer-block--contact {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .contacts {
    order: 2;
  }
}

.phone_num {
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone_num--text {
  font-size: 13px;
  font-weight: 300;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
  align-items: center;
  margin-right: 23px;
}

.copyright {
  margin-bottom: 20px;
}

.copyright__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copy {
  font-size: 16px;
  font-weight: 30;
}

.payment {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */