.collection {
    margin-bottom: 150px;
}
.explore__cards {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 40px;
}

.explore__card-img {
    margin-bottom: 10px;
}
.explore__card-text {
    font-size: 24px;
    font-family: $font-second;
    text-align: center;
}