.footer {
    background-color: $lightBackground;
}

.footer__wrapper {
    padding: 100px 0;
    display: grid;
    grid-template-columns: 25fr 25fr 50fr;
    @include mediaTablet{
        grid-template-columns: 20fr 20fr 60fr;
    }
    @include mediaTabletS{
        padding: 50px 0;
        grid-template-columns: 25fr 25fr 50fr;
        gap: 60px;
    }
    @include mediaMobile{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 40px;
    }
}
.footer__list{
    &--first{
        @include mediaMobile{
            grid-area: 1 / 1 / 2 / 2;
        }
    }
    &--second{
        @include mediaMobile{
            grid-area: 1 / 2 / 2 / 3;
        }
    }
}
.footer-blocks{
    @include mediaMobile{
        grid-area: 2 / 1 / 3 / 3;
    }
}
.footer__list--title {
    margin-bottom: 50px;
    font-size: 24px;
    font-family: $font-second;

    &--three {
        text-align: center;
    }
}

.footer__list-item {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
}
.footer-blocks__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include mediaTabletS{
        grid-template-columns: 1fr;
    }
}
.footer-block--text {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 20px;

    &--reg {
        font-style: normal;
        font-size: 13px;
    }
}

.footer--block--author {
    font-size: 12px;
    font-weight: 300;
}

.footer-block--contact {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include mediaTabletS{
        order: 2;
    }
}

.phone_num {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone_num--text {
    font-size: 13px;
    font-weight: 300;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    align-items: center;
    margin-right: 23px;
}

.copyright {
    margin-bottom: 20px;
}

.copyright__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copy {
    font-size: 16px;
    font-weight: 30;
}

.payment {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}