//FONTS
$font-main: 'Open Sans', sans-serif;
$font-second:'Cormorant Garamond', serif;

//colors:
$lightGreen: #b8b58b;
$lightBackground: #f7f2ea;
$blown: #754E29;
$dark: #151618;

//Media
$tablet: 1000px;
$tablet_m: 825px;
$tablet_s: 768px;
$mobile_l: 560px;
$mobile: 480px;
$mobile_s: 360px;

