//FONTS
$font-main: 'Open Sans', sans-serif;
$font-second:'Cormorant Garamond', serif;

//colors:
$lightGreen: #b8b58b;
$lightBackground: rgb(247, 242, 234, 0.5);
$blown: #754E29;
$dark: #151618;

//Media
$tablet: 992px;
$tablet_s: 768px;
$mobile: 425px;

